
 *{
  
    margin:0;
    color: rgb(255, 255, 255);
   
    
 }
 #navbar{
    height: 60px; 
background-color: rgb(52, 12, 58)
   
 }
 button{
    background-color: rgb(11, 29, 55);
 }
 #logo{
    color:#f08804;
    font-size: 25px;
 }
 a{
    margin-right: 200px;
     text-decoration: none;  /*is say link ki ya koe bhi underline remove hoti  */
 }
 
 .container1{
    background-color: #978fbc;
    /* border: 5px solid rgb(8, 1, 11); */
  border-style: ridge;
    margin: 24px 29px;
    padding:34px 19px ;
    border-radius: 23px;
    width: 533px;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
font-size: larger;
 }
 .container2{
   background-color: #978fbc;
   border: 5px solid rgb(8, 1, 11);
   margin: 24px 29px;
   padding:34px 19px ;
   border-radius: 23px;
   width: 533px;
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container3{
   background-color: #978fbc;
   border-style: dotted;
   /* border: 5px solid rgb(8, 1, 11); */
   margin: 24px 29px;
   padding:34px 19px ;
   border-radius: 23px;
   width: 533px;
box-sizing: border-box;
font-family: cursive;
text-align: center;
}
 body{

background-color: rgb(85, 47, 80);      
 }
.box{
   border-radius: 50%;
   background-color: #978fbc;
   width: 100px;
   height: 100px;
border-style: double;
border-color: rgb(19, 10, 19);
margin: auto;
 }
 img{
   margin: auto;
   display:block;
   mix-blend-mode: multiply;
   
 }

 
 